ul {
    list-style-type: none; /* 기본 리스트 스타일 제거 */
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
}

.product-list-container {
    padding: 20px;
}


.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer; /* 클릭할 수 있도록 커서 변경 */
    text-decoration: none; /* 링크에 기본 텍스트 장식 제거 */
}

/* 상품 카드 hover 효과 */
.product-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}
.product-link {
    color: inherit; /* 링크 색상 기본 색상으로 변경 */
    text-decoration: none; /* 링크에 기본 텍스트 장식 제거 */
}

.product-img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-name, .product-price {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.product-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.product-price {
    color: #888;
}

/* 밑줄 제거 */
a, button {
    text-decoration: none;
    border: none;
    background: none;
}

/* 페이지 버튼 스타일 */
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination button {
    padding: 8px 12px;
    border: 1px solid #007bff;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.pagination button:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.pagination button:disabled {
    background-color: #e0e0e0;
    border-color: #d6d6d6;
    color: #aaa;
    cursor: not-allowed;
}

.pagination button:disabled:hover {
    background-color: #e0e0e0;
    border-color: #d6d6d6;
}
